<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#5642C5;
           font-size:200%;
           font-family:Arial;letter-spacing:0.5px">

<p width = 20%, style="padding: 10px;
              color:white;">
Pandas: Importing Data
              
</p>
</div>

Data Science Cohort Live NYC Aug 2024
<p>Phase 1</p>
<br>
<br>

<div align = "right">
<img src="Images/flatiron-school-logo.png" align = "right" width="200"/>
</div>

Pandas can import/export data from/to a variety of file formats and sources:
    
- import data from CSV, JSON, Excel  spreadsheet  
- Use pandas to export a DataFrame to a file

In [2]:
# import our libraries
import numpy as np
import pandas as pd

Pandas functions for importing files into (or creating) DataFrames:
* `pd.read_csv()`
* `pd.read_excel()`
* `pd.read_json()`
* `pd.DataFrame.from_dict()`

CSV import:
- Example: data on patient's blood pressure:
`'bp.txt'`, stored in the `Data` folder.

In [6]:
# Import 'bp.txt' file. Tab separated entries.
df = pd.read_csv('Data/bp.txt', delimiter = '\t')
# if delimiter is not specified assumes ',' delimiter
df

    Pt   BP  Age  Weight   BSA   Dur  Pulse  Stress
0    1  105   47    85.4  1.75   5.1     63      33
1    2  115   49    94.2  2.10   3.8     70      14
2    3  116   49    95.3  1.98   8.2     72      10
3    4  117   50    94.7  2.01   5.8     73      99
4    5  112   51    89.4  1.89   7.0     72      95
5    6  121   48    99.5  2.25   9.3     71      10
6    7  121   49    99.8  2.25   2.5     69      42
7    8  110   47    90.9  1.90   6.2     66       8
8    9  110   49    89.2  1.83   7.1     69      62
9   10  114   48    92.7  2.07   5.6     64      35
10  11  114   47    94.4  2.07   5.3     74      90
11  12  115   49    94.1  1.98   5.6     71      21
12  13  114   50    91.6  2.05  10.2     68      47
13  14  106   45    87.1  1.92   5.6     67      80
14  15  125   52   101.3  2.19  10.0     76      98
15  16  114   46    94.5  1.98   7.4     69      95
16  17  106   46    87.0  1.87   3.6     62      18
17  18  113   46    94.5  1.90   4.3     70      12
18  19  110   48    90.5  1.88   9.0     71      99
19  20  122   56    95.7  2.09   7.0     75      99

In [7]:
# Look at the first 3 rows
df.head(3)

   Pt   BP  Age  Weight   BSA  Dur  Pulse  Stress
0   1  105   47    85.4  1.75  5.1     63      33
1   2  115   49    94.2  2.10  3.8     70      14
2   3  116   49    95.3  1.98  8.2     72      10

In [ ]:
# Look at the last 4 rows
df.tail(4)


#### Skipping and Limiting Rows

- Skipping rows: ignore metadata stored at the top of a file. Optional parameter `skiprows`. 
- Limit number of rows loaded: `nrows` parameter.

Let's look at another dataset:

In [12]:
# Import the first 100 rows of 'ACS_16_5YR_B24011_with_ann.csv' file
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', nrows=100)

df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD32,HD02_VD32,HD01_VD33,HD02_VD33,HD01_VD34,HD02_VD34,HD01_VD35,HD02_VD35,HD01_VD36,HD02_VD36
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Management, business, scien...","Margin of Error; Total: - Management, business...","Estimate; Total: - Management, business, scien...","Margin of Error; Total: - Management, business...","Estimate; Total: - Management, business, scien...",...,"Estimate; Total: - Natural resources, construc...","Margin of Error; Total: - Natural resources, c...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor..."
1,0500000US01001,01001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
2,0500000US01003,01003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
3,0500000US01005,01005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
4,0500000US01007,01007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942

#### Notice the first row is descriptions of the variables

Could just drop the first row:

In [13]:
# Delete the first row
df = df.drop(0)
df.head(2)

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD32,HD02_VD32,HD01_VD33,HD02_VD33,HD01_VD34,HD02_VD34,HD01_VD35,HD02_VD35,HD01_VD36,HD02_VD36
1,0500000US01001,01001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
2,0500000US01003,01003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580

Or if we knew from the start, we could use the skiprows argument:

In [24]:
# Import the first 100 rows of 'ACS_16_5YR_B24011_with_ann.csv' file while skipping the first row
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', skiprows= [1], nrows=100)
df.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD32,HD02_VD32,HD01_VD33,HD02_VD33,HD01_VD34,HD02_VD34,HD01_VD35,HD02_VD35,HD01_VD36,HD02_VD36
0,0500000US01001,1001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
1,0500000US01003,1003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
2,0500000US01005,1005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
3,0500000US01007,1007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942
4,0500000US01009,1009,"Blount County, Alabama",34900,2063,46593,2963,47003,6189,50991,...,42489,7176,32969,3767,31814,4551,41375,5280,26755,2963

#### Header

Related to `skiprows` is the `header` parameter:
- header = the row where column names are and starts importing data from that point.
- Set data description row as our header for fun.

In [20]:
# Look at the error output once you run this cell. What type of error is it?
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', header=1)
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 23033: invalid continuation byte

## Encoding

Encoding errors:
- Strings within the file are formatted according to encoding scheme. 
- Most common encoding: `utf-8` (default)
- Second most common: `latin-1`

In [21]:
# Import the 'ACS_16_5YR_B24011_with_ann.csv' file using a proper encoding
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', header=1, encoding='latin-1')
df.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Management, business, science, and arts occupations:","Margin of Error; Total: - Management, business, science, and arts occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Margin of Error; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations: - Management occupations",...,"Estimate; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Margin of Error; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Estimate; Total: - Production, transportation, and material moving occupations:","Margin of Error; Total: - Production, transportation, and material moving occupations:","Estimate; Total: - Production, transportation, and material moving occupations: - Production occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Production occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Material moving occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Material moving occupations"
0,0500000US01001,1001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
1,0500000US01003,1003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
2,0500000US01005,1005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
3,0500000US01007,1007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942
4,0500000US01009,1009,"Blount County, Alabama",34900,2063,46593,2963,47003,6189,50991,...,42489,7176,32969,3767,31814,4551,41375,5280,26755,2963

#### Selecting Specific Columns  

You can also select specific columns if you only want to load specific features.

In [25]:
# Import the file with specific columns
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', 
                 usecols=[0, 1, 2, 5, 6], skiprows = [1], encoding='latin-1')
df.head(2)

           GEO.id  GEO.id2        GEO.display-label  HD01_VD02  HD02_VD02
0  0500000US01001     1001  Autauga County, Alabama      48819       1806
1  0500000US01003     1003  Baldwin County, Alabama      49524       1811

**or**

In [ ]:
# Import the file with specific columns
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', skiprows = [1], usecols=['GEO.id', 'GEO.id2', 'HD01_VD02', 'HD02_VD02'], encoding='latin-1')
df.head(2)

#### Importing Excel files
Pretty similar to csv importing.

Load in an excel file containing some Yelp reviews.

In [ ]:
# Import an Excel file
df1 = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', header=2)
df1.head()

But wait a minute...Excel file often has multiple sheets:

- By default, Excel imports first sheet.
- Excel file may contain multiple sheets.

If we know which sheet we want to import by sheet number:

In [ ]:
# Import a specific sheet of an Excel file
df2 = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', sheet_name=2, header=2)
df2.head()

Or by sheet name:

In [ ]:
# Import a specific sheet of an Excel file
df = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', sheet_name='Biz_id_RESDU', header=2)
df.head()

#### Loading a Full Workbook and Previewing Sheet Names
Load entire excel workbook (which is a collection of spreadsheets) with the `pd.ExcelFile()` function.

In [ ]:
# Import the names of Excel sheets in a workbook
workbook = pd.ExcelFile('Data/Yelp_Selected_Businesses.xlsx')
workbook.sheet_names

In [ ]:
# Import a specific sheet
df = workbook.parse(sheet_name=1, header=2)
df.head()

In [ ]:
df = workbook.parse(sheet_name='Biz_id_ujHia', header=2)
df.head()

#### Saving Data
Once we have data loaded that we may want to export back out, we use the **`.to_csv()`** or **`.to_excel()`** methods of any DataFrame object.

In [ ]:
# Write data to a CSV file 
# Notice how we have to pass index=False if we do not want it included in our output
df.to_csv('NewSavedView.csv', index=False)

In [ ]:
# Write data to an Excel file 
df.to_excel('NewSavedView.xlsx')

#### Summary

Importing other file formats (JSONs, etc) into DataFrames are pretty similar. See pandas documentation for the rest.